{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 3%">
<h1 style="color: green;">Sign Up</h1>
<hr>
<p style="color: red">{{error}}</p>
<br>
<form method="POST" action="{% url 'signup' %}">
	{% csrf_token %}

	Username:<br>
	<input type="text" name="username">
	<br><br>
	Password:<br>
	<input type="password" name="password1">
	<br><br>
	Confirm_ Password:<br>
	<input type="password" name="password2">
	<br><br>
	<input  class="btn btn-primary" type="submit" value="SignUp">



</form>

</div>

{% endblock %}